Flask==0.12.2
setuptools==36.4.0
gunicorn==19.7.1

bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.4.1
tox==2.8.2
coverage==4.1
Sphinx==1.4.8
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
cryptography==2.0.3
PyYAML==3.11{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==3.2.2
pytest-runner==2.11.1{% endif %}
